name: Publish to pub.dev

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: "stable"

      # - name: Install Flutter
      #   uses: subosito/flutter-action@v2
      #   with:
      #     channel: "stable"

      - name: Restore pub cache
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Set up pub.dev credentials
        run: |
          mkdir -p ~/.pub-cache
          echo "${{ secrets.PUB_CREDENTIALS }}" > ~/.pub-cache/credentials.json

      - name: Install dependencies
        run: dart pub get

      - name: Publish (no confirmation)
        run: dart pub publish --force
